<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515481837271-cob43nqtlhj82k7pnvsobu9pm4g8g5n5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515481837271-cob43nqtlhj82k7pnvsobu9pm4g8g5n5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>515481837271-6kv8n97iubmn9ve8lgce8m06k6ne681n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBaHrQEWgvXq9euEavOvQagkKzNf1URRdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>515481837271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.madz.blochub.qa</string>
	<key>PROJECT_ID</key>
	<string>blochub-qa</string>
	<key>STORAGE_BUCKET</key>
	<string>blochub-qa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515481837271:ios:f87cd50510c6350d8a5a92</string>
	<key>DATABASE_URL</key>
	<string>https://blochub-qa.firebaseio.com</string>
</dict>
</plist>